$blue = #0172E6
$red = #CD3E20
$gray1 = #F3F3F3
$gray2 = #E5E5E5
$gray3 = #CFCFCF
$gray4 = #505050
$black = #131313
$white = #FFFFFF

@import './mixin'
@import './table'
@import './main'
@import './scatterplot'
@import './settings'