#ubret
  width 100%

  .dashboard
    width 80%
    margin-bottom 140px

    .tools
      padding 10px

      .tool
        padding 10px
        float left

        .bind-select
          z-index 999
        
        .settings-trigger
          font-weight 700

  .toolbox
    border-top 1px $black solid
    background-color $white
    width 100%
    margin 0
    position fixed
    bottom 0
    left 0

    .tool
      float left
      padding 6px
      margin 6px
