#ubret
  width 100%

  .dashboard
    margin-bottom 140px

    .tools
      padding 10px

      .window
        position: relative
        padding: 10px
        padding-top: 20px
        margin: 10px
        border: 1px $gray1 solid
        box-shadow(2px 2px 2px $gray3)
        display: inline-block

        .settings
          display: none

        .tool
          display: block 

        .window-controls
          position: absolute
          visibility: hidden
          top: 0
          left: 0

          ul
            display: inline

            li
              display: inline
              padding-right: 20px


      .window:hover .window-controls
        visibility: visible

      .window.settings-active

        .settings
          display: block

        .tool
          display: none

  .toolbox
    border-top 1px $black solid
    background-color $white
    width 100%
    margin 0
    position fixed
    bottom 0
    left 0

    .tool
      float left
      padding 6px
      margin 6px
