.tool.scatterplot
  svg
    height: inherit
    width: inherit

    circle.selected
      fill: #09fbdd

    .axis
      stroke: black
      fill: none
      shape-rendering: crispEdges

      text
        font-size: 8pt
        font-weight: 200

    text.label
      font-weight: 700
      fill: black 
      stroke: none
      font-size: 10pt


