.page-controls
  button
    position: absolute
    top: 50%
    width: 20px
    box-sizing: border-box
    font-size: 18px
    height: 40px
    font-weight: 700

    &.prev
      left: -20px

    &.next
      right: -20px
