.tool-chain
  input, textarea, button
    display: none

  h2
    border-bottom: 1px solid #333

  small
    font-size: 10px;
    padding-left: 10px;
    color: #525252

  img
    height: 150px
    width: 150px
    float: left
    margin-right: 20px

  textarea
    width: 90%
  