.table table {
  border-collapse: collapse;
  font-size: 12px;
}
.table table table,
.table table td,
.table table th {
  border: 1px #f3f3f3 solid;
  padding: 5px;
}
.table table .selected {
  background-color: #0172e6;
}
#ubret {
  width: 100%;
}
#ubret .dashboard {
  width: 80%;
  margin-bottom: 140px;
}
#ubret .dashboard .tools {
  padding: 10px;
}
#ubret .dashboard .tools .tool {
  padding: 10px;
  float: left;
}
#ubret .dashboard .tools .tool .bind-select {
  z-index: 999;
}
#ubret .dashboard .tools .tool .settings-trigger {
  font-weight: 700;
}
#ubret .toolbox {
  border-top: 1px #131313 solid;
  background-color: #fff;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
#ubret .toolbox .tool {
  float: left;
  padding: 6px;
  margin: 6px;
}
.scatterplot div svg {
  height: 400px;
  width: 480px;
}
