table
  font-size: 12px
  border: 1px solid #525252

  td, th
    padding: 5px
    border 1px solid #525252

    .selected
      background-color: #09fbdd 

  td
    overflow: hidden
    width: 105px
