table
  font-size: 12px
  border: 1px solid #525252

  tr.selected
    background-color: #09fbdd 

  td, th
    padding: 5px
    border 1px solid #525252

  td
    overflow: hidden
    width: 105px
    white-space: nowrap
